<!DOCTYPE html>
<html>
  <head>
    <title>Gemhack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
     <link rel="icon" type="image/png" href="https://res.cloudinary.com/dp693fkkc/image/upload/v1673662595/gemhack/Logo/logocircle_wzjhcz.png">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
